pkgbase = crosstool-ng-git
	pkgdesc = A versatile (cross-)toolchain generator.
	pkgver = crosstool.ng.1.27.0.r65.g93d5d76
	pkgrel = 1
	url = https://crosstool-ng.github.io
	arch = x86_64
	arch = x86_64_v3
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = flex
	makedepends = bison
	makedepends = gperf
	makedepends = help2man
	makedepends = unzip
	makedepends = lzip
	makedepends = python
	depends = ncurses
	depends = make
	depends = rsync
	provides = crosstool-ng
	source = git+https://github.com/crosstool-ng/crosstool-ng.git#commit=93d5d7664faaf3a0e63c58cd74105c3c8364130b
	sha512sums = b72f8f31c12c9a6e13240ea3d4844dba752d9d9fccac8d22ea0d033288037949566c5a9f5fb66bff344b7fdb61d3fa839e5453ba3a4d534af081bfaa7dd8109e
	b2sums = 6c62fe08f1e07b8fc4a5b5e2812e5610c53e302b3c2677d9019f7f73ef89c1e90c32c6cbe16b3c55d6524f15f26dfa6de9e7bad17bd83be7e64d2d9d6b93c1f9

pkgname = crosstool-ng-git
