pkgbase = crosstool-ng-git
	pkgdesc = A versatile (cross-)toolchain generator.
	pkgver = crosstool.ng.1.27.0.r65.g93d5d76
	pkgrel = 1
	url = https://crosstool-ng.github.io
	arch = x86_64
	arch = x86_64_v3
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = flex
	makedepends = bison
	makedepends = gperf
	makedepends = help2man
	makedepends = unzip
	makedepends = lzip
	makedepends = python
	depends = ncurses
	depends = make
	depends = rsync
	provides = crosstool-ng
	source = git+https://github.com/crosstool-ng/crosstool-ng.git#commit=b286f6b3bd8fcb6439cea55083deadd59ae06f91
	sha512sums = 2e1b815bc8b7e6ea3106ea98f1fc2f27fba84d87e58f567866f9c5f1c9cc69d2131b1b5ef74e92ec2745ac4f741f76931aba382dd4756657d1e47d91a369e2c4
	b2sums = e62b966594b5643b4926d5b624b3d5e4c7bd7c3ce9dfe7a8793967ce84892b3447bb4933d9082a8ad0759b3d9f75a0e6210e2902304a1045f3811fda45ffc98f

pkgname = crosstool-ng-git
